* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
body {
    font-family:'Poppins', sans-serif;
    font-size: 18px;
    color: rgb(0, 0, 0);
}
.container {
    width: 1140px;
    margin: 20px auto 0 auto;
}
.blog-post {
    width: 75%;
    float: left;
    padding-right: 30px ;
    padding-bottom: 20px;
    position: relative;
}
.other-post {
    width: 25%;
    float: left;
}
.author-box {
    padding-top: 10px;
    border-top: 1px solid #333;

}

h1 {
    font-size: 60px;
    color: rgb(212, 23, 102);
    margin-bottom: 20px;
}
h2 {
    font-size: 35px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
} 
a {
    text-decoration: none;
    color: #333;
}
.main-text {
    text-align: justify;
    margin-bottom: 20px;
}
.author-name {
    font-size: 25px;
    float: left;
    margin-top: 60px;
    margin-left: 10px;
} 
.other {
    margin-bottom: 20px;
}
.author-box  img {
    border-radius: 50%;
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
}
.blog-post img {
    display: block;
    margin: 0 auto;
}
.date {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 30px;
    padding-top: 32px;
}
